<!DOCTYPE html>
<html>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'success' %}
                <p style="color: green;">{{ message }}</p>
            {% else %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}      
        {% endfor %}
    {% endif %}
{% endwith %}
<h2> Create Booking</h2>

<form method="POST">
    Customer Name: <input type="text" name="customer_name"><br><br>
    Phone: <input type="text" name="phone"><br><br>
    Event Type:
    <select name="event_type">
        <option value="">-- Select Type --</option>
        <option value="event">Event</option>
        <option value="homestay">Homestay</option>
    </select><br><br>
    Event Name: <input type="text" name="event_name"><br><br>
    Start Date: <input type="date" name="start_date"><br><br>
    End Date: <input type="date" name="end_date"><br><br>
    Rooms: <input type="number" name="rooms"><br><br>
    Total Amount: <input type="number" name="total_amount"><br><br>
    Paid Amount: <input type="number" name="amount_paid"><br><br>

    <button type="submit">Create</button>
</form>
</html>